<form class="form-horizontal">
        <h4>Login</h4>         
        Email<br />
        <input type="text" ng-model="login.email" /><br />        
        Password<br />
        <input type="password" ng-model="login.password" /><br />        
        <br />
        <br />
        <button class="btn btn-primary" ng-click="loginuser()">Login</button>  
        <button class="btn btn-danger" ng-click="clickCancel()" >Cancel</button>   
    </form>        
        <h4>{{notifyUser}}</h4>         
    <br />