    <form class="form-horizontal">
        <h4> Register</h4>         
        Email<br />
        <input type="text" ng-model="register.email" /><br />        
        Password<br />
        <input type="password" ng-model="register.password" /><br />        
        <br />
        <br />
        <button class="btn btn-primary" ng-click="registeruser()">Register</button>  
        <button class="btn btn-danger" ng-click="clickCancel()" >Cancel</button>   
        <!--<button class="btn btn-primary" ng-click="delregister()" >Delete Register</button>-->
    </form>
    <br />    
    